@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #454F5B;
}

.active {
    color: #FF5A30;
}

.btn {
    background: #FF5A30;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.btn2 {
    background: transparent;
    color: #FF5A30;
    border: 1px solid #FF5A30;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

img {
    max-width: 100%;
}


h1,
h2,
h3 {
    font-weight: 700;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}